{% extends 'base/base.html'%}
{% block title %} Lista de Usuario {% endblock %}
{% block content%}
   <div class="container">
	<header class="page-heder"><h3 class="text-center">Lista de Usuarios</h3></header>
	<div class="col-md-12">
   <table class="table table-bordered">
	<thead class="btn-primary text-center">
		<tr>
			<td>id</td>
			<td>Nombre</td>
			<td>Apellidos</td>
			<td>Email</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for usuario in object_list %}
		<tr>
			<td>{{ usuario.id }}</td>
			<td>{{ usuario.first_name}}</td>
			<td>{{ usuario.last_name }}</td>
            <td>{{ usuario.email}}</td>|    
			
		{% endfor %}
		
		{% else %}
		<h3>No hay registros de adoptates</h3>
		{% endif %}
	</tbody>
</table> 

{% endblock %}